body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
    margin: 0;
    padding: 0;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0478aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: #3432b3}

.button:active {

    background-color: #3f3e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.player-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  .container {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Agregar espacio superior si es necesario */
  }
